<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/schedulesvisits"></ion-back-button>
        </ion-buttons>

        <ion-searchbar mode="ios" show-cancel-button="true" cancel-button-text="Cancelar" (ionChange)="onSearch($event)" autocomplete="off" autocorrect="on" animated="true" spellcheck="true" type="text" ionBlur="" color="ligth" placeholder="Buscar Usuario">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>




<ion-content padding>
    <ion-spinner *ngIf="showSpinner" name="crescent" [ngClass]="{'spiner': showSpinner}"></ion-spinner>
    <div *ngIf="showListUsers;" [ngClass]="{'blur': showSpinner}">
        <div *ngIf="listAllUsers && listAllUsers.length > 0">
            <ion-card class="card-schedules" *ngFor="let usr of listAllUsers">
                <ion-card-header>
                    <ion-card-title>Nombre: {{ usr.user_name }} </ion-card-title>
                    <ion-card-subtitle>Correo: {{ usr.user_email }} </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Telefono: {{ usr.user_phone}}
                    <div style="float:right">
                        <ion-chip>
                            <ion-icon mode="ios" (click)="addUsers(2, usr)" name="create" color="primary" class="icon-circle-small-e"></ion-icon>
                            <ion-icon mode="ios" (click)="presentAlertConfirm(usr.iduser)" name="trash" color="primary" class="icon-circle-small-d"></ion-icon>
                        </ion-chip>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addUsers(1, '')">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>