.card-schedules
{
    border-radius: 5px;
    border-left-style: solid;
    border-left-color: #e0e0e0;
    border-left-width: thick;
    background: white;
}

.item
{
  --border-radius:30px;
  padding: 5%;
}

.btnsub{
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px
}
.size
{
 zoom: 1.5;
}